<p class="flex items-center justify-center text-2xl sm:text-4xl font-semibold mb-20 mt-20">Color palette generator</p>
<div class="flex justify-center items-center flex-wrap cursor-pointer ">
  <div *ngFor="let ele of colorData;let i=index" #tooltip="matTooltip" matTooltip="Copy!" matTooltipClass="tooltip" class="w-64 rounded-lg overflow-hidden shadow-lg flex flex-col justify-center m-2 bg-white reverse" id="copy" [cdkCopyToClipboard]="ele" (click)="copied(i,ele)">
<div class="h-80 m-3 shadow-pop-br rounded-lg" [ngStyle]="{'background-color':ele}"></div>
    
      <div class="flex justify-center "> 
      <span class="text-xl font-medium pb-4 cursor-pointer">{{ele}}</span>
      </div>
  </div>
</div>
<div class="flex justify-center items-center mt-20"> <button  class=" rounded-md bg-indigo-400 px-20 py-2 text-lg font-medium leading-7 sm:px-40 sm:py-4 shadow-pop-br text-white hover:bg-indigo-500"(click)="getData()">Generate palette</button>
</div>
<p class="text-center text-sm sm:text-xl mt-5 font-normal">Or just press the “Spacebar” to generate new palettes.</p>
<div class=" mt-8 flex justify-center"> 
<div class=" m-2 text-xs p-4 sm:text-xl bg-white text-gray-500 rounded-full">
  Click to copy individual color  Press “C" to copy palette 
</div></div>